:root{
    --login-color:#3a68b7;
}


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:var(--login-color);
    font-family: Roboto, sans-serif;
}

.form{
    width: 80%;
    max-width: 32 rem;
    background-color: white;
}

.form_fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: .35em;
}

.form_title{
    font-weight: 500;
    font-size: 2rem;
    color: #3a68b7;
    padding-top: 2rem;
}

.form_label{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;

}

.form_input{
    padding: .5em;
    font-size: 1.2em;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #3a68b7;
    margin-bottom: .8rem;
    outline: none;
}

.form_input:focus{
    outline: 3px solid #3a68b7;
    padding-left: .3rem;
}

.btn{
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 2px;
    border: none;
    outline: none; 
    padding: .8rem 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: double;
}

.btn-primary{
    background-color: #3a68b7;
    color: white;
}

.btn-secondary{
  color: #3a68b7;  
}

.form_action_aside{
    font-size: .85rem;
    flex-grow: 1;
    text-align: right;
    text-decoration: none;
    color: dimgrey;
}

.form_action{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form_action_aside a{
    text-decoration: none;
    color: inherit;
}
